.title,
.heading2 {
    background-color: azure;
    text-align: center;
}

.title {
    border: solid gold;
    color: black;
}

.heading2 {
    border: solid gold;
    border-width: 5px;
    border-radius: 10px;
}

img {
    border: solid gold;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 200px;
    width: 200px;
    
}

* {
    text-align: center;
}